<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container d-flex justify-content-between">
        <h2>Express GessBook</h2>
        <div class="">
            <a class="btn btn-info" href="/">Home</a>
            <a class="btn btn-info" href="/new-entry">New Entry</a>
        </div>
    </div>
</nav>